@page "/Trabajos/Delete/{TrabajoId:int}"
@rendermode InteractiveServer
@inject TrabajosService trabajosService
@inject PrioridadesService prioridadesService
@inject ArticulosService  articulosService
@inject NavigationManager navigation

<PageTitle>Eliminar Trabajo</PageTitle>

<div class="card shadow-lg">
    <div class="card-header bg-white text-black text-center" style="display: flex; align-items: center; justify-content: center;">
        <h4 style="margin: 0 15px;"><strong>Eliminar Trabajo:</strong></h4>
    </div>
    <div class="card-body">
        <h5><strong>¿Seguro que deseas eliminar el trabajo seleccionado?</strong></h5>
        <div class="mb-1"></div>
        <p class="mb-0"><strong>Trabajo Id:</strong> @trabajo.TrabajoId</p>
        <div class="mb-1">
            <p class="mb-0"><strong>Fecha:</strong> @trabajo.Fecha.ToShortDateString()</p>
            <p class="mb-0"><strong>Cliente Id:</strong> @trabajo.ClienteId</p>
            <p class="mb-0"><strong>Cliente:</strong> @trabajo.Clientes.Nombres</p>
            <p class="mb-0"><strong>Técnico Id:</strong> @trabajo.TecnicoId</p>
            <p class="mb-0"><strong>Técnico:</strong> @trabajo.Tecnicos.NombresTecnico</p>
            <p class="mb-0"><strong>Descripción:</strong> @trabajo.Descripcion</p>
            <p class="mb-0"><strong>Prioridad:</strong> @trabajo.Prioridades.Descripcion</p>
            <p class="mb-0"><strong>Monto:</strong> @trabajo.Monto.ToString("N2")</p>
        </div>

        
        <h5><strong>Art&iacute;culos Utilizados:</strong></h5>
        <table class="table table-light">
            <thead>
                <tr>
                    <th>Descripci&oacute;n</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detalle in trabajo.TrabajosDetalles)
                {
                    <tr>
                        <td>@detalle.Articulos?.Descripcion</td>
                        <td>@detalle.Cantidad</td>
                        <td>@detalle.Precio.ToString("N2")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="card-footer">
        <a href="/Trabajos/Index" class="btn btn-secondary text-white bi bi-arrow-left"> Volver</a>
        <button type="button" class="btn btn-success bi bi-trash" @onclick="EliminarTrabajo"> Eliminar</button>
    </div>
</div>

@code {
    [Parameter]
    public int TrabajoId { get; set; }
    public Trabajos trabajo { get; set; } = new Trabajos();

    protected override async Task OnInitializedAsync()
    {
        if (TrabajoId > 0)
        {
            trabajo = await trabajosService.Buscar(TrabajoId);

            if (trabajo.Prioridades == null)
            {
                trabajo.Prioridades = await prioridadesService.Buscar(trabajo.PrioridadId);
            }

           
            foreach (var detalle in trabajo.TrabajosDetalles)
            {
                detalle.Articulos = await articulosService.Buscar(detalle.ArticulosId);
            }
        }
    }

    public async Task EliminarTrabajo()
    {
        var eliminar = await trabajosService.Eliminar(trabajo.TrabajoId);

        if (eliminar)
        {
            navigation.NavigateTo("/Trabajos/Index");
        }
        else
        {
            Console.WriteLine("No se ha podido eliminar el trabajo");
        }
    }
}
